*{
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat",sans-serif;
  padding :0;
  margin:0;
}


/*_________________________MAIN__________________________*/
html {
  scroll-behavior: smooth;
}

/*_________________________LOGIN__________________________*/

body{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	background-image: url("Img/loginBackground.jpg");
	background-attachment:fixed;
}

#loginContainer{
	display :flex;
	justify-content: center;
	margin-top : 35vh;
	font-size: 1.5rem ;

}	
#formLogin{ 
	display :flex;
	flex-direction: column;
    background-color: white;
	height: auto;
	width: : auto;
	padding: 20px;
}	
.itemLogin{
  width: 100%;
  padding: 0;
  margin-top: 15px;
  margin-left :0;
}
.button{
	width: 100%;
	height : 2rem;
	background-color: #4CAF50;
	color: white;
	border : none;
	margin-top : 5px;
	opacity :0.85;
}

input[type=text], input[type=password] {
	border=none;
}